@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the default checkbox */
input[type="checkbox"] {
    appearance: none; 
    width: 25px; 
    height: 25px; 
    border: 2px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    
}
input[type="checkbox"]:checked::after {
    content: '\2713'; 
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 20px;
    color: green; 
}
